<form [formGroup]="editEmployeeForm" (ngSubmit)="onSubmit()" ngxsForm="employee.editEmployeeForm">
	<div class="content">
		<h2 mat-dialog-title>Edytuj pracownika</h2>

		<mat-dialog-content>
			<section>
				<mat-form-field appearance="fill" class="input">
					<mat-label>Imię</mat-label>
					<input type="text" matInput formControlName="firstName" />
				</mat-form-field>

				<mat-form-field appearance="fill" class="input">
					<mat-label>Nazwisko</mat-label>
					<input type="text" matInput formControlName="lastName" />
				</mat-form-field>

				<mat-form-field appearance="fill" class="input">
					<mat-label>Stawka [PLN]</mat-label>
					<input type="number" matInput formControlName="baseSalary" />
				</mat-form-field>

				<mat-form-field appearance="fill" class="input">
					<mat-label>Premia [%]</mat-label>
					<input type="number" matInput formControlName="salaryBonusPercentage" />
				</mat-form-field>

				<mat-form-field appearance="fill" class="input">
					<mat-label>RCP ID</mat-label>
					<input type="number" matInput formControlName="rcpId" />
				</mat-form-field>

				<mat-form-field appearance="fill" class="input">
					<mat-label>Dział</mat-label>
					<mat-select formControlName="departmentId">
						<mat-option *ngFor="let department of departments" [value]="department.value">{{ department.key }}</mat-option>
					</mat-select>
				</mat-form-field>

				<input type="hidden" formControlName="departmentName" />
			</section>

			<input type="hidden" formControlName="id" />
		</mat-dialog-content>

		<mat-dialog-actions>
			<button mat-button color="primary" type="button" mat-dialog-close>Anuluj</button>
			<button mat-raised-button color="primary" type="submit" cdkFocusInitial>Edytuj</button>
		</mat-dialog-actions>
	</div>
</form>
