<table mat-table class="mat-elevation-z6" [dataSource]="(employees$ | async)!">
	<ng-container matColumnDef="rcpId">
		<th mat-header-cell *matHeaderCellDef>RCP ID</th>
		<td mat-cell *matCellDef="let employee">{{ employee?.rcpId }}</td>
	</ng-container>

	<ng-container matColumnDef="firstName">
		<th mat-header-cell *matHeaderCellDef>Imię</th>
		<td mat-cell *matCellDef="let employee">{{ employee?.firstName }}</td>
	</ng-container>

	<ng-container matColumnDef="lastName">
		<th mat-header-cell *matHeaderCellDef>Nazwisko</th>
		<td mat-cell *matCellDef="let employee">{{ employee?.lastName }}</td>
	</ng-container>

	<ng-container matColumnDef="department">
		<th mat-header-cell *matHeaderCellDef>Dział</th>
		<td mat-cell *matCellDef="let employee">{{ employee?.departmentName }}</td>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef>Akcje</th>
		<td mat-cell *matCellDef="let employee">
			<button mat-icon-button class="edit" matTooltip="Edytuj" (click)="edit(employee)">
				<mat-icon>edit</mat-icon>
			</button>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
	<tr mat-row *matRowDef="let employee; columns: columnsToDisplay"></tr>
</table>

<button mat-fab color="primary" class="add-employee" matTooltip="Dodaj pracownika" (click)="addEmployee()">
	<mat-icon>person_add</mat-icon>
</button>
<button mat-fab color="primary" class="refresh" matTooltip="Odśwież" (click)="refresh()">
	<mat-icon>refresh</mat-icon>
</button>
