<app-employee-filters />

<div class="table-container mat-elevation-z3 bg-white rounded-xl overflow-auto">
	<table mat-table matSort class="w-full text-sm mat-elevation-z0 divide-y divide-gray-200" [dataSource]="dataSource">
		<!-- RCP ID -->
		<ng-container matColumnDef="rcpId">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="rcpId" class="text-left px-4 py-2 bg-gray-100 sticky top-0 z-10">
				RCP ID
			</th>
			<td mat-cell *matCellDef="let employee" class="px-4 py-2">{{ employee?.rcpId }}</td>
		</ng-container>

		<!-- Imię -->
		<ng-container matColumnDef="firstName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="firstName" class="text-left px-4 py-2 bg-gray-100 sticky top-0 z-10">
				Imię
			</th>
			<td mat-cell *matCellDef="let employee" class="px-4 py-2">{{ employee?.firstName }}</td>
		</ng-container>

		<!-- Nazwisko -->
		<ng-container matColumnDef="lastName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="lastName" class="text-left px-4 py-2 bg-gray-100 sticky top-0 z-10">
				Nazwisko
			</th>
			<td mat-cell *matCellDef="let employee" class="px-4 py-2">{{ employee?.lastName }}</td>
		</ng-container>

		<ng-container matColumnDef="personalIdentityNumber">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="departmentName">PESEL</th>
			<td mat-cell *matCellDef="let employee">{{ employee?.personalIdentityNumber }}</td>
		</ng-container>

		<!-- Dział -->
		<ng-container matColumnDef="departmentName">
			<th
				mat-header-cell
				*matHeaderCellDef
				mat-sort-header="departmentName"
				class="text-left px-4 py-2 bg-gray-100 sticky top-0 z-10"
			>
				Dział
			</th>
			<td mat-cell *matCellDef="let employee" class="px-4 py-2">{{ employee?.departmentName }}</td>
		</ng-container>

		<!-- Zmiana -->
		<ng-container matColumnDef="shiftTypeName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="shiftTypeName" class="text-left px-4 py-2 bg-gray-100 sticky top-0 z-10">
				Zmiana
			</th>
			<td mat-cell *matCellDef="let employee" class="px-4 py-2">{{ employee?.shiftTypeName }}</td>
		</ng-container>

		<!-- Stanowisko -->
		<ng-container matColumnDef="position">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="position" class="text-left px-4 py-2 bg-gray-100 sticky top-0 z-10">
				Stanowisko
			</th>
			<td mat-cell *matCellDef="let employee" class="px-4 py-2">{{ employee?.position }}</td>
		</ng-container>

		<!-- Stawka -->
		<ng-container matColumnDef="baseSalary">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="baseSalary" class="text-left px-4 py-2 bg-gray-100 sticky top-0 z-10">
				Stawka
			</th>
			<td mat-cell *matCellDef="let employee" class="px-4 py-2">{{ employee?.baseSalary | currency: 'PLN' }}</td>
		</ng-container>

		<!-- Premia -->
		<ng-container matColumnDef="salaryBonusPercentage">
			<th
				mat-header-cell
				*matHeaderCellDef
				mat-sort-header="salaryBonusPercentage"
				class="text-left px-4 py-2 bg-gray-100 sticky top-0 z-10"
			>
				Premia
			</th>
			<td mat-cell *matCellDef="let employee" class="px-4 py-2">
				{{ employee?.salaryBonusPercentage / 100 | percent }}
			</td>
		</ng-container>

		<!-- Akcje -->
		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef class="px-4 py-2 bg-gray-100 sticky top-0 z-10">Akcje</th>
			<td mat-cell *matCellDef="let employee" class="px-4 py-2 space-x-2">
				<button mat-icon-button color="primary" matTooltip="Edytuj" (click)="edit(employee)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="warn" matTooltip="Deaktywuj" (click)="deactivate(employee)">
					<mat-icon>person_remove</mat-icon>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true" class="bg-gray-100"></tr>
		<tr mat-row *matRowDef="let employee; columns: columnsToDisplay" class="hover:bg-gray-50 transition duration-150"></tr>
	</table>
</div>

<!-- FAB Buttons -->
<div class="fixed bottom-6 right-6 flex flex-row items-center space-x-3">
	<button mat-fab color="primary" matTooltip="Dodaj pracownika" (click)="addEmployee()" *ngIf="userRole === Role.Admin">
		<mat-icon>person_add</mat-icon>
	</button>

	<button mat-fab color="accent" matTooltip="Odśwież" (click)="refresh()">
		<mat-icon>refresh</mat-icon>
	</button>
</div>
