.mat-mdc-row:hover {
	background-color: lightgray;
}

button.add-employee {
	position: fixed;
	bottom: 40px;
	right: 40px;
}

button.refresh {
	position: fixed;
	bottom: 40px;
	right: 110px;
}

button.action {
	color: gray;
}
