<div class="table-container mat-elevation-z3">
	<table mat-table matSort class="mat-elevation-z3" [dataSource]="dataSource">
		<ng-container matColumnDef="rcpId">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="rcpId">RCP ID</th>
			<td mat-cell *matCellDef="let employee">{{ employee?.rcpId }}</td>
		</ng-container>

		<ng-container matColumnDef="firstName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="firstName">Imię</th>
			<td mat-cell *matCellDef="let employee">{{ employee?.firstName }}</td>
		</ng-container>

		<ng-container matColumnDef="lastName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="lastName">Nazwisko</th>
			<td mat-cell *matCellDef="let employee">{{ employee?.lastName }}</td>
		</ng-container>

		<ng-container matColumnDef="personalIdentityNumber">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="personalIdentityNumber">PESEL</th>
			<td mat-cell *matCellDef="let employee">{{ employee?.personalIdentityNumber }}</td>
		</ng-container>

		<ng-container matColumnDef="departmentName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="departmentName">Dział</th>
			<td mat-cell *matCellDef="let employee">{{ employee?.departmentName }}</td>
		</ng-container>

		<ng-container matColumnDef="shiftTypeName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="shiftTypeName">Zmiana</th>
			<td mat-cell *matCellDef="let employee">{{ employee?.shiftTypeName }}</td>
		</ng-container>

		<ng-container matColumnDef="position">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="position">Stanowisko</th>
			<td mat-cell *matCellDef="let employee">{{ employee?.position }}</td>
		</ng-container>

		<ng-container matColumnDef="baseSalary">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="baseSalary">Stawka</th>
			<td mat-cell *matCellDef="let employee">{{ employee?.baseSalary | currency: 'PLN' }}</td>
		</ng-container>

		<ng-container matColumnDef="salaryBonusPercentage">
			<th mat-header-cell *matHeaderCellDef mat-sort-header="salaryBonusPercentage">Premia</th>
			<td mat-cell *matCellDef="let employee">{{ employee?.salaryBonusPercentage / 100 | percent }}</td>
		</ng-container>

		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef>Akcje</th>
			<td mat-cell *matCellDef="let employee">
				<button mat-icon-button class="action" matTooltip="Edytuj" (click)="edit(employee)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button class="action" matTooltip="Deaktywuj" (click)="deactivate(employee)">
					<mat-icon>person_remove</mat-icon>
				</button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
		<tr mat-row *matRowDef="let employee; columns: columnsToDisplay"></tr>
	</table>
</div>

<button mat-fab color="primary" class="add-employee" matTooltip="Dodaj pracownika" (click)="addEmployee()">
	<mat-icon>person_add</mat-icon>
</button>
<button mat-fab color="primary" class="refresh" matTooltip="Odśwież" (click)="refresh()">
	<mat-icon>refresh</mat-icon>
</button>
