/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import 'assets/scss/variabless.scss';

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.table-container {
	height: 80vh;
	max-width: 100%;
	overflow: auto;
}

.mat-table {
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

.mat-dialog-actions {
	justify-content: flex-end;
}

.transparent .mat-dialog-container {
	box-shadow: none;
	background: rgba(0, 0, 0, 0);
}

.mat-cell > .zero-hours {
	color: $red-color;
}

.mat-cell > .missing-record-type .mat-icon {
	color: $warning-color;
}

button.print-table {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 100;
}

button.send-hours-to-gratyfikant {
	position: fixed;
	bottom: 40px;
	right: 110px;
	z-index: 100;
}

#print-content {
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
}
