// Detailed table
$none-cell-color: white;
$empty-cell-color: gray;
$standard-cell-color: lightgray;
$base-rate-color: green;
$bonus-rate-color: lightgreen;
$bonus-rate-color: lightgreen;
$bonus-sum-color-background: yellow;
$red-color: red;
$warning-color: #ffb725;
$info-color: blue;
$weekend-day-color: gray;
$absent-day-color: red;
$too-less-hours-color: darkorange;
$too-much-hours-color: darkorange;

// Summary table
$summary-table-base-color: lightgray;
$summary-table-yellow-color: yellow;
