// Detailed table
$none-cell-color: white;
$empty-cell-color: gray;
$standard-cell-color: lightgray;
$base-rate-color: #22dd22;
$bonus-rate-color: lightgreen;
$bonus-rate-color: lightgreen;
$bonus-sum-color-background: #fdfa72;
$light-red-color: #ff474c;
$warning-color: #ffb725;
$info-color: blue;
$weekend-day-color: #ffe0b2;
$absent-day-color: #ff474c;
$too-less-hours-color: darkorange;
$too-much-hours-color: darkorange;

// Summary table
$summary-table-base-color: #e3f2fd;
$summary-table-yellow-color: #fff8e1;
