.mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 100;
}

.active-route {
	@apply bg-blue-100 text-blue-700 font-semibold;
}

.content {
	padding: 40px;
}

.spacer {
	flex: 1 1 auto;
}
