<div class="container">
	<h1 class="card-title">Zaloguj się do systemu ECP</h1>

	<form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser(loginForm.value)">
		<div class="flex flex-col">
			<mat-form-field class="w-1/4">
				<mat-label>E-mail</mat-label>
				<input matInput placeholder="E-mail" formControlName="email" />
			</mat-form-field>

			<mat-form-field class="w-1/4">
				<mat-label>Hasło</mat-label>
				<input type="password" matInput placeholder="Hasło" formControlName="password" />
			</mat-form-field>

			<div>
				<button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Zaloguj się</button>
			</div>

			<div>
				<a mat-button (click)="redirectToRegister()">Nie masz konta? Zarejestruj się</a>
			</div>
		</div>
	</form>
</div>
