@import '../../../../assets/scss/variabless.scss';

.mat-header-cell, .mat-cell {
  text-align: center;
}

.mat-column-fullName.mat-cell {
  width: 220px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

tr.mat-row {
  height: 24px;
}

tr.mat-row:nth-child(6n) > .mat-cell {
  border-bottom: 2px solid black;
}

// Value (rate, gross, bonus, etc.) common columns
.mat-cell.empty-value {
  background-color: $empty-cell-color;
}

.mat-cell.default-value,
.mat-cell.default-value-hours {
  background-color: $standard-cell-color;
}

.mat-cell.none-value {
  background-color: $none-cell-color;
}

// Rate column
.mat-cell.base-rate {
  background-color: $base-rate-color;
}

// Gross column
.mat-cell.base-gross {
  background-color: $red-color;
}

// Bonus column
.mat-cell.percentage-bonus {
  background-color: $bonus-rate-color;
}

.mat-cell.base-bonus {
  background-color: $red-color;
}

// Gross sum column
.mat-cell.fifty-percentage-gross-sum,
.mat-cell.hundred-percentage-gross-sum,
.mat-cell.saturday-gross-sum {
  background-color: $red-color;
}

// Bonus sum column
.mat-cell.fifty-percentage-bonus-sum,
.mat-cell.hundred-percentage-bonus-sum,
.mat-cell.saturday-bonus-sum {
  background-color: $bonus-sum-color-background;
}

// Hours column
.mat-cell.default-value-hours {
  color: $red-color
}
