<app-working-time-record-filters></app-working-time-record-filters>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
	<ng-container *ngIf="filteredTabs$ | async as tabs">
		<mat-tab *ngFor="let tab of tabs" [label]="tab.label">
			<ng-template matTabContent>
				<ng-container *ngComponentOutlet="tab.component"></ng-container>
			</ng-template>
		</mat-tab>
	</ng-container>
</mat-tab-group>

<div class="fixed bottom-6 right-6 flex flex-row items-center space-x-3 z-50">
	<button mat-fab color="primary" matTooltip="Zamknij poprzedni miesiąc" (click)="closePreviousMonth()" *ngIf="userRole === Role.Admin">
		<mat-icon>free_cancellation</mat-icon>
	</button>

	<button mat-fab color="primary" matTooltip="Drukuj" ngxPrint printSectionId="print-content" [useExistingCss]="true">
		<mat-icon>print</mat-icon>
	</button>
</div>
