<div class="container">
	<h1>Rejestracja nowego konta w systemie ECP</h1>
	<form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
		<div class="flex flex-col">
			<mat-form-field class="w-1/4">
				<mat-label>E-mail</mat-label>
				<input matInput placeholder="E-mail" formControlName="email" />
			</mat-form-field>

			<mat-form-field class="w-1/4">
				<mat-label>Hasło</mat-label>
				<input type="password" matInput placeholder="Hasło" formControlName="password" />
			</mat-form-field>

			<mat-form-field class="w-1/4">
				<mat-label>Powtórz hasło</mat-label>
				<input type="password" matInput placeholder="Powtórz hasło" formControlName="confirm" />
			</mat-form-field>

			<div>
				<button mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid">Zarejestruj</button>
			</div>

			<div>
				<a mat-button (click)="redirectToLogin()">Masz już konto? Zaloguj się</a>
			</div>
		</div>
	</form>
</div>
