@import '../../../../assets/scss/variabless.scss';

// === OGÓLNE ===
.mat-mdc-header-cell,
.mat-mdc-cell {
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 8px 4px;
	font-size: 13px;
}

.mat-mdc-row:hover {
	background-color: #f0f0f0;

	.mat-mdc-cell {
		background-color: #f0f0f0;
	}
}

tr.mat-mdc-footer-row {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background-color: #fafafa;
	border-top: 2px solid black;
}

// === KOLUMNY NAZYWANE ===
.mat-column-fullName.mat-mdc-cell {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	max-width: 200px;
}

.mat-column-index.mat-mdc-cell {
	max-width: 30px;
}

// === KOLOROWANIE BLOKÓW DANYCH ===
.mat-column-gross,
.mat-column-bonus,
.mat-column-overtimes,
.mat-column-saturdays,
.mat-column-nightHours,
.mat-column-sum {
	background-color: $summary-table-base-color;
}

.mat-column-baseSalary,
.mat-column-bonusPercentage,
.mat-column-night,
.mat-column-holiday,
.mat-column-sickness,
.mat-column-additional,
.mat-column-minSalaryCompensation {
	background-color: $summary-table-yellow-color;
}

// === INPUTY ===
.mat-mdc-form-field {
	text-align: center;
	width: 100px;
	margin: 4px auto;

	.mat-mdc-input-element {
		padding: 4px;
		font-size: 13px;
		text-align: center;
	}
}

// uproszczone inputy do edycji
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.summary-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 400px;
	margin: 20px auto;
	padding: 12px 20px;
	background-color: #fff;
	border: 2px solid #dcdcdc;
	border-radius: 10px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);

	.summary-label {
		font-size: 16px;
		font-weight: 500;
		color: #333;
	}

	.summary-value {
		font-size: 18px;
		font-weight: bold;
		color: #1a237e;
	}
}

// === DRUK ===
@media print {
	.no-print {
		display: none !important;
	}

	.mat-mdc-header-cell,
	.mat-mdc-cell,
	.mat-mdc-footer-cell {
		font-size: 10px !important;
		padding: 2px 4px !important;
	}

	.mat-mdc-footer-row {
		font-size: 12px !important;
		background: #eee !important;
	}

	.mat-form-field {
		display: none !important;
	}
}
