<div id="print-content" class="summary-container mat-elevation-z3">
	<div class="summary-box">
		<div class="summary-row">
			<span class="summary-label">🧑‍ Ilość pracowników:</span>
			<span class="summary-value">{{ getTotalNumberOfEmployees() | async }}</span>
		</div>
		<div class="summary-row">
			<span class="summary-label">🕓 Godziny nominalne:</span>
			<span class="summary-value">{{ getTotalNormativeHoursSum() | async }}</span>
		</div>
		<div class="summary-row">
			<span class="summary-label">⏱️ Nadgodziny 50%:</span>
			<span class="summary-value">{{ getTotalFiftyPercentageBonusHoursSum() | async }}</span>
		</div>
		<div class="summary-row">
			<span class="summary-label">⏱️ Nadgodziny 100%:</span>
			<span class="summary-value">{{ getTotalHundredPercentageBonusHoursSum() | async }}</span>
		</div>
		<div class="summary-row">
			<span class="summary-label">📆 Soboty:</span>
			<span class="summary-value">{{ getTotalSaturdayHoursSum() | async }}</span>
		</div>
	</div>
</div>
