<table mat-table class="mat-elevation-z6" [dataSource]="(detailedRecords$ | async)!" [trackBy]="trackRecord">
	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef></th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[attr.rowspan]="i % 3 === 0 ? '3' : null"
			[style.display]="i % 3 ? 'none' : null"
		></td>
	</ng-container>

	<ng-container matColumnDef="fullName">
		<th mat-header-cell *matHeaderCellDef>Imię i nazwisko</th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[attr.rowspan]="i % 3 === 0 ? '3' : null"
			[style.display]="i % 3 ? 'none' : null"
		>
			{{ record?.employee?.firstName }} {{ record?.employee?.lastName }}
		</td>
	</ng-container>

	<ng-container matColumnDef="shiftType">
		<th mat-header-cell *matHeaderCellDef>Zmiana</th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[attr.rowspan]="i % 3 === 0 ? '3' : null"
			[style.display]="i % 3 ? 'none' : null"
		>
			{{ record?.employee?.shiftTypeName }}
		</td>
	</ng-container>

	<ng-container matColumnDef="position">
		<th mat-header-cell *matHeaderCellDef>Stanowisko</th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[attr.rowspan]="i % 3 === 0 ? '3' : null"
			[style.display]="i % 3 ? 'none' : null"
		>
			{{ record?.employee?.position }}
		</td>
	</ng-container>

	<ng-container matColumnDef="sumHours">
		<th mat-header-cell *matHeaderCellDef>Suma [h]</th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[attr.rowspan]="i % 3 === 0 ? '3' : null"
			[style.display]="i % 3 ? 'none' : null"
		>
			{{ getAllHoursSum(record?.workingTimeRecordsAggregated) }}
		</td>
	</ng-container>

	<ng-container matColumnDef="emptyLabel">
		<th mat-header-cell *matHeaderCellDef></th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[ngClass]="{
				'none-value': i % 3 === 0,
				'default-value-hours': i % 3 === 1 || i % 3 === 2
			}"
		>
			<span *ngIf="i % 3 === 0">Godziny</span>
			<span *ngIf="i % 3 === 1">wejście</span>
			<span *ngIf="i % 3 === 2">wyjście</span>
		</td>
	</ng-container>

	<ng-container [matColumnDef]="dayNumber" *ngFor="let dayNumber of numberOfDays$ | async">
		<th mat-header-cell *matHeaderCellDef>{{ dayNumber }}</th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[ngClass]="{
				'none-value': i % 3 === 0,
				'default-value-hours': i % 3 === 1 || i % 3 === 2
			}"
		>
			<span
				*ngIf="i % 3 === 0"
				[ngClass]="{
					'missing-record-type': record?.workingTimeRecordsAggregated[+dayNumber - 1]?.missingRecordEventType
				}"
			>
				{{
					record?.workingTimeRecordsAggregated[+dayNumber - 1]?.workedHoursRounded +
						record?.workingTimeRecordsAggregated[+dayNumber - 1]?.saturdayHours | emptyIfZero
				}}
				<!--						<span *ngIf="record?.workingTimeRecordsAggregated[+dayNumber - 1]?.missingRecordEventType">-->
				<!--							<mat-icon>error</mat-icon>-->
				<!--						</span>-->
			</span>
			<span *ngIf="i % 3 === 1">{{
				(record?.workingTimeRecordsAggregated[+dayNumber - 1]?.startOriginalAt | date: 'shortTime') === '00:00'
					? ''
					: (record?.workingTimeRecordsAggregated[+dayNumber - 1]?.startOriginalAt | date: 'shortTime')
			}}</span>
			<span *ngIf="i % 3 === 2">{{
				(record?.workingTimeRecordsAggregated[+dayNumber - 1]?.finishOriginalAt | date: 'shortTime') === '00:00'
					? ''
					: (record?.workingTimeRecordsAggregated[+dayNumber - 1]?.finishOriginalAt | date: 'shortTime')
			}}</span>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="columnsToDisplay$ | async"></tr>
	<tr mat-row *matRowDef="let record; columns: columnsToDisplay$ | async"></tr>
</table>
