.mat-mdc-row:hover {
	background-color: lightgray;
}

button.refresh {
	position: fixed;
	bottom: 40px;
	right: 40px;
}

button.action {
	color: gray;
}

.color-green {
	color: green;
}

.color-red {
	color: red;
}
