@import '../../../../assets/scss/variabless.scss';

input.clean-input {
	border: none;
	background: transparent;
	text-align: center;
	width: 40px;
	font-size: 12px;

	&:focus {
		outline: none;
		border-bottom: 1px solid #000;
	}
}

.sub-header-row {
	background-color: #ddd !important;
	height: 28px;
	font-weight: bold;
	font-size: 12px;
	border-top: 2px solid black;
	border-bottom: 1px solid gray;
}

.sub-header-cell {
	text-align: center;
	padding: 4px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.mat-mdc-cell,
.mat-mdc-header-cell {
	padding: 8px 4px;
	font-size: 13px;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
	text-align: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.42);
	border-right: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}

th.mat-mdc-header-cell:first-of-type,
td.mat-mdc-cell:first-of-type,
td.mat-mdc-footer-cell:first-of-type {
	padding-left: 0;
}

.mat-column-index.mat-mdc-cell {
	max-width: 30px;
}

.mat-column-fullName.mat-mdc-cell {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 2px solid black;
}

.mat-column-fullName {
	max-width: 180px;
	position: sticky;
	left: 0;
	background-color: white;
	z-index: 2;
}

.mat-column-baseSalary,
.mat-column-gross,
.mat-column-bonus,
.mat-column-sumValue,
.mat-column-sumBonus,
.mat-column-sumHours {
	max-width: 100px;
	min-width: 80px;
}

.mat-column-emptyLabel {
	max-width: 100px;
}

.mat-column-1,
.mat-column-2,
.mat-column-3,
.mat-column-4,
.mat-column-5,
.mat-column-6,
.mat-column-7,
.mat-column-8,
.mat-column-9,
.mat-column-10,
.mat-column-11,
.mat-column-12,
.mat-column-13,
.mat-column-14,
.mat-column-15,
.mat-column-16,
.mat-column-17,
.mat-column-18,
.mat-column-19,
.mat-column-20,
.mat-column-21,
.mat-column-22,
.mat-column-23,
.mat-column-24,
.mat-column-25,
.mat-column-26,
.mat-column-27,
.mat-column-28,
.mat-column-29,
.mat-column-30,
.mat-column-31 {
	max-width: 90px;
	min-width: 25px;
	padding: 2px;
}

tr.mat-mdc-row {
	height: 24px;
}

tr.mat-mdc-row:nth-child(6n) > .mat-mdc-cell {
	border-bottom: 2px solid black;
}

// Value (rate, gross, bonus, etc.) common columns
.mat-mdc-cell.empty-value {
	background-color: $empty-cell-color;
}

.mat-mdc-cell.default-value,
.mat-mdc-cell.default-value-hours {
	background-color: $standard-cell-color;
}

.mat-mdc-header-cell.weekend-day,
.mat-mdc-cell.weekend-day {
	background-color: $weekend-day-color !important;
}

.mat-mdc-cell.too-less-hours {
	background-color: $too-less-hours-color !important;
}

.mat-mdc-cell.too-much-hours {
	background-color: $too-much-hours-color !important;
}

.mat-mdc-cell.none-value {
	background-color: $none-cell-color;
}

// Rate column
.mat-mdc-cell.base-salary {
	background-color: $base-rate-color;
}

// Gross column
.mat-mdc-cell.base-gross {
	background-color: $light-red-color;
}

// Bonus column
.mat-mdc-cell.percentage-bonus {
	background-color: $bonus-rate-color;
}

.mat-mdc-cell.base-bonus {
	background-color: $light-red-color;
}

// Gross sum column
.mat-mdc-cell.fifty-percentage-gross-sum,
.mat-mdc-cell.hundred-percentage-gross-sum,
.mat-mdc-cell.saturday-gross-sum {
	background-color: $light-red-color;
}

// Bonus sum column
.mat-mdc-cell.fifty-percentage-bonus-sum,
.mat-mdc-cell.hundred-percentage-bonus-sum,
.mat-mdc-cell.saturday-bonus-sum {
	background-color: $bonus-sum-color-background;
}

// Hours column
.mat-mdc-cell.default-value-hours {
}

// Inline form inputs
.mat-mdc-form-field.number-input {
	text-align: center;
	min-width: 35px;
	max-width: 60px;
	margin-top: 10px;
}

// Hide arrows from input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

td.mat-mdc-footer-cell {
	font-size: 18px !important;
	text-align: center;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
}

@media print {
	.no-print {
		display: none !important;
	}

	th,
	td {
		font-size: 10px !important;
		padding: 2px !important;
	}
}
