@import '../../../../assets/scss/variabless.scss';

.mat-header-cell, .mat-cell {
  text-align: center;
  border-right: 1px solid black;
}

.mat-column-fullName.mat-cell {
  width: 220px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.mat-header-cell.mat-column-rate,
.mat-header-cell.mat-column-gross,
.mat-header-cell.mat-column-bonus,
.mat-header-cell.mat-column-sumValue,
.mat-header-cell.mat-column-sumBonus,
.mat-header-cell.mat-column-sumHours {
  width: 80px;
}

.mat-header-cell.mat-column-emptyLabel {
  width: 100px;
}

.mat-header-cell.mat-column-1,
.mat-header-cell.mat-column-2,
.mat-header-cell.mat-column-3,
.mat-header-cell.mat-column-4,
.mat-header-cell.mat-column-5,
.mat-header-cell.mat-column-6,
.mat-header-cell.mat-column-7,
.mat-header-cell.mat-column-8,
.mat-header-cell.mat-column-9,
.mat-header-cell.mat-column-10,
.mat-header-cell.mat-column-11,
.mat-header-cell.mat-column-12,
.mat-header-cell.mat-column-13,
.mat-header-cell.mat-column-14,
.mat-header-cell.mat-column-15,
.mat-header-cell.mat-column-16,
.mat-header-cell.mat-column-17,
.mat-header-cell.mat-column-18,
.mat-header-cell.mat-column-19,
.mat-header-cell.mat-column-20,
.mat-header-cell.mat-column-21,
.mat-header-cell.mat-column-22,
.mat-header-cell.mat-column-23,
.mat-header-cell.mat-column-24,
.mat-header-cell.mat-column-25,
.mat-header-cell.mat-column-26,
.mat-header-cell.mat-column-27,
.mat-header-cell.mat-column-28,
.mat-header-cell.mat-column-29,
.mat-header-cell.mat-column-30,
.mat-header-cell.mat-column-31, {
  width: 30px;
}

.mat-cell > .zero-hours {
  color: $red-color;
}

tr.mat-row {
  height: 24px;
}

tr.mat-row:nth-child(6n) > .mat-cell {
  border-bottom: 2px solid black;
}

// Value (rate, gross, bonus, etc.) common columns
.mat-cell.empty-value {
  background-color: $empty-cell-color;
}

.mat-cell.default-value,
.mat-cell.default-value-hours {
  background-color: $standard-cell-color;
}

.mat-header-cell.weekend-day,
.mat-cell.weekend-day {
  background-color: $weekend-day-color !important;
}

.mat-cell.none-value {
  background-color: $none-cell-color;
}

// Rate column
.mat-cell.base-rate {
  background-color: $base-rate-color;
}

// Gross column
.mat-cell.base-gross {
  background-color: $red-color;
}

// Bonus column
.mat-cell.percentage-bonus {
  background-color: $bonus-rate-color;
}

.mat-cell.base-bonus {
  background-color: $red-color;
}

// Gross sum column
.mat-cell.fifty-percentage-gross-sum,
.mat-cell.hundred-percentage-gross-sum,
.mat-cell.saturday-gross-sum {
  background-color: $red-color;
}

// Bonus sum column
.mat-cell.fifty-percentage-bonus-sum,
.mat-cell.hundred-percentage-bonus-sum,
.mat-cell.saturday-bonus-sum {
  background-color: $bonus-sum-color-background;
}

// Hours column
.mat-cell.default-value-hours {
}
