<table mat-table class="mat-elevation-z6" [dataSource]="(detailedRecords$ | async)!">
	<ng-container matColumnDef="fullName">
		<th mat-header-cell *matHeaderCellDef>Imię i nazwisko</th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[attr.rowspan]="i % 6 == 0 ? '6' : null"
			[style.display]="i % 6 ? 'none' : null"
		>
			{{ record?.employee?.firstName }} {{ record?.employee?.lastName }}
		</td>
	</ng-container>

	<ng-container matColumnDef="rate">
		<th mat-header-cell *matHeaderCellDef>Stawka</th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[ngClass]="{
				'empty-value': i % 6 === 0 || i % 6 === 5,
				'base-rate': i % 6 === 1,
				'default-value': i % 6 === 2 || i % 6 === 3 || i % 6 === 4
			}"
		>
			<ng-container *ngIf="i % 6 == 0"></ng-container>
			<ng-container *ngIf="i % 6 == 1">{{ record?.employee?.baseSalary | currency: 'PLN' }}</ng-container>
			<ng-container *ngIf="i % 6 == 2">{{ record?.salaryInformation?.base50PercentageSalary | currency: 'PLN' }}</ng-container>
			<ng-container *ngIf="i % 6 == 3">{{ record?.salaryInformation?.base100PercentageSalary | currency: 'PLN' }}</ng-container>
			<ng-container *ngIf="i % 6 == 4">{{ record?.salaryInformation?.baseSaturdaySalary | currency: 'PLN' }}</ng-container>
			<ng-container *ngIf="i % 6 == 5"></ng-container>
		</td>
	</ng-container>

	<ng-container matColumnDef="gross">
		<th mat-header-cell *matHeaderCellDef>Brutto</th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[ngClass]="{
				'empty-value': i % 6 === 0 || i % 6 === 5,
				'base-gross': i % 6 === 1,
				'default-value': i % 6 === 2 || i % 6 === 3 || i % 6 === 4
			}"
		>
			<span *ngIf="i % 6 == 0"></span>
			<span *ngIf="i % 6 == 1">{{ record?.salaryInformation?.grossBaseSalary | currency: 'PLN' }}</span>
			<span *ngIf="i % 6 == 2">{{ record?.salaryInformation?.grossBase50PercentageSalary | currency: 'PLN' }}</span>
			<span *ngIf="i % 6 == 3">{{ record?.salaryInformation?.grossBase100PercentageSalary | currency: 'PLN' }}</span>
			<span *ngIf="i % 6 == 4">{{ record?.salaryInformation?.grossBaseSaturdaySalary | currency: 'PLN' }}</span>
			<span *ngIf="i % 6 == 5"></span>
		</td>
	</ng-container>

	<ng-container matColumnDef="bonus">
		<th mat-header-cell *matHeaderCellDef>Premia</th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[ngClass]="{
				'percentage-bonus': i % 6 === 0,
				'base-bonus': i % 6 === 1,
				'default-value': i % 6 === 2 || i % 6 === 3 || i % 6 === 4,
				'empty-value': i % 6 === 5
			}"
		>
			<span *ngIf="i % 6 == 0">{{ record?.employee?.salaryBonusPercentage | number: '1.2-2' }} % </span>
			<span *ngIf="i % 6 == 1">{{ record?.salaryInformation?.bonusBaseSalary | currency: 'PLN' }}</span>
			<span *ngIf="i % 6 == 2">{{ record?.salaryInformation?.bonusBase50PercentageSalary | currency: 'PLN' }}</span>
			<span *ngIf="i % 6 == 3">{{ record?.salaryInformation?.bonusBase100PercentageSalary | currency: 'PLN' }}</span>
			<span *ngIf="i % 6 == 4">{{ record?.salaryInformation?.bonusBaseSaturdaySalary | currency: 'PLN' }}</span>
			<span *ngIf="i % 6 == 5"></span>
		</td>
	</ng-container>

	<ng-container matColumnDef="sumValue">
		<th mat-header-cell *matHeaderCellDef>Suma duża</th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[ngClass]="{
				'empty-value': i % 6 === 0 || i % 6 === 5,
				'default-value': i % 6 === 1,
				'fifty-percentage-gross-sum': i % 6 === 2,
				'hundred-percentage-gross-sum': i % 6 === 3,
				'saturday-gross-sum': i % 6 === 4
			}"
		>
			<span *ngIf="i % 6 == 0"></span>
			<span *ngIf="i % 6 == 1">{{ record?.salaryInformation?.grossSumBaseSalary | currency: 'PLN' }}</span>
			<span *ngIf="i % 6 == 2">{{ record?.salaryInformation?.grossSumBase50PercentageSalary | currency: 'PLN' }}</span>
			<span *ngIf="i % 6 == 3">{{ record?.salaryInformation?.grossSumBase100PercentageSalary | currency: 'PLN' }}</span>
			<span *ngIf="i % 6 == 4">{{ record?.salaryInformation?.grossSumBaseSaturdaySalary | currency: 'PLN' }}</span>
			<span *ngIf="i % 6 == 5"></span>
		</td>
	</ng-container>

	<ng-container matColumnDef="sumBonus">
		<th mat-header-cell *matHeaderCellDef>Suma premia</th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[ngClass]="{
				'empty-value': i % 6 === 0 || i % 6 === 1 || i % 6 === 5,
				'fifty-percentage-bonus-sum': i % 6 === 2,
				'hundred-percentage-bonus-sum': i % 6 === 3,
				'saturday-bonus-sum': i % 6 === 4
			}"
		>
			<span *ngIf="i % 6 == 0"></span>
			<span *ngIf="i % 6 == 1"></span>
			<span *ngIf="i % 6 == 2"></span>
			<span *ngIf="i % 6 == 3">{{ record?.salaryInformation?.bonusSumSalary | currency: 'PLN' }}</span>
			<span *ngIf="i % 6 == 4"></span>
			<span *ngIf="i % 6 == 5"></span>
		</td>
	</ng-container>

	<ng-container matColumnDef="sumHours">
		<th mat-header-cell *matHeaderCellDef>Suma [h]</th>
		<td mat-cell *matCellDef="let record; let i = index" class="default-value">
			<span *ngIf="i % 6 == 0">{{ getWorkingHoursSum(record?.workingTimeRecordsAggregated) }}</span>
			<span *ngIf="i % 6 == 1">{{ getNormativeHoursSum(record?.workingTimeRecordsAggregated) }}</span>
			<span *ngIf="i % 6 == 2">{{ get50PercentageHoursSum(record?.workingTimeRecordsAggregated) }}</span>
			<span *ngIf="i % 6 == 3">{{ get100PercentageHoursSum(record?.workingTimeRecordsAggregated) }}</span>
			<span *ngIf="i % 6 == 4">{{ getSaturdayHoursSum(record?.workingTimeRecordsAggregated) }}</span>
			<span *ngIf="i % 6 == 5">{{ getNightHoursSum(record?.workingTimeRecordsAggregated) }}</span>
		</td>
	</ng-container>

	<ng-container matColumnDef="emptyLabel">
		<th mat-header-cell *matHeaderCellDef></th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[ngClass]="{
				'none-value': i % 6 === 0 || i % 6 === 4 || i % 6 === 5,
				'default-value': i % 6 === 1 || i % 6 === 2 || i % 6 === 3
			}"
		>
			<span *ngIf="i % 6 == 0">Godziny</span>
			<span *ngIf="i % 6 == 1">Normatywne</span>
			<span *ngIf="i % 6 == 2">50%</span>
			<span *ngIf="i % 6 == 3">100%</span>
			<span *ngIf="i % 6 == 4">Sobota</span>
			<span *ngIf="i % 6 == 5">Nocka</span>
		</td>
	</ng-container>

	<ng-container [matColumnDef]="dayNumber" *ngFor="let dayNumber of daysArray">
		<th mat-header-cell *matHeaderCellDef>{{ dayNumber }}</th>
		<td
			mat-cell
			*matCellDef="let record; let i = index"
			[ngClass]="{
				'none-value': i % 6 === 0 || i % 6 === 4 || i % 6 === 5,
				'default-value-hours': i % 6 === 1 || i % 6 === 2 || i % 6 === 3
			}"
		>
			<span *ngIf="i % 6 == 0">{{ getWorkingHoursForDay(record?.workingTimeRecordsAggregated, +dayNumber) }}</span>
			<span
				*ngIf="i % 6 == 1"
				[ngClass]="{
					'zero-hours': getNormativeHoursForDay(record?.workingTimeRecordsAggregated, +dayNumber) === 0
				}"
				>{{ getNormativeHoursForDay(record?.workingTimeRecordsAggregated, +dayNumber) }}</span
			>
			<span
				*ngIf="i % 6 == 2"
				[ngClass]="{
					'zero-hours': get50PercentageHoursForDay(record?.workingTimeRecordsAggregated, +dayNumber) === 0
				}"
				>{{ get50PercentageHoursForDay(record?.workingTimeRecordsAggregated, +dayNumber) }}</span
			>
			<span
				*ngIf="i % 6 == 3"
				[ngClass]="{
					'zero-hours': get100PercentageHoursForDay(record?.workingTimeRecordsAggregated, +dayNumber) === 0
				}"
				>{{ get100PercentageHoursForDay(record?.workingTimeRecordsAggregated, +dayNumber) }}</span
			>
			<span *ngIf="i % 6 == 4">{{ getSaturdayHoursForDay(record?.workingTimeRecordsAggregated, +dayNumber) }}</span>
			<span *ngIf="i % 6 == 5">{{ getNightHoursForDay(record?.workingTimeRecordsAggregated, +dayNumber) }}</span>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
	<tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
