<div id="print-content" class="table-container">
	<table mat-table class="mat-elevation-z6" [dataSource]="(detailedRecords$ | async)!" [trackBy]="trackRecord">
		<ng-container matColumnDef="index">
			<th mat-header-cell *matHeaderCellDef>Lp</th>
			<td mat-cell *matCellDef="let record; let i = index">
				{{ i + 1 }}
			</td>
		</ng-container>

		<ng-container matColumnDef="fullName">
			<th mat-header-cell *matHeaderCellDef>Imię i nazwisko</th>
			<td mat-cell *matCellDef="let record">{{ record?.employee?.firstName }} {{ record?.employee?.lastName }}</td>
		</ng-container>

		<ng-container matColumnDef="shiftType">
			<th mat-header-cell *matHeaderCellDef>Zmiana</th>
			<td mat-cell *matCellDef="let record">
				{{ record?.employee?.shiftTypeName }}
			</td>
		</ng-container>

		<ng-container matColumnDef="position">
			<th mat-header-cell *matHeaderCellDef>Stanowisko</th>
			<td mat-cell *matCellDef="let record">
				{{ record?.employee?.position }}
			</td>
		</ng-container>

		<ng-container [matColumnDef]="dayNumber" *ngFor="let dayNumber of numberOfDays$ | async">
			<th mat-header-cell *matHeaderCellDef>{{ dayNumber }}</th>
			<td
				mat-cell
				*matCellDef="let record; let i = index"
				class="none-value"
				[ngClass]="{
					'weekend-day': record?.workingTimeRecordsAggregated[+dayNumber - 1]?.isWeekendDay,
					'is-absent':
						record?.workingTimeRecordsAggregated[+dayNumber - 1]?.isAbsent &&
						!record?.workingTimeRecordsAggregated[+dayNumber - 1]?.isWeekendDay
				}"
			></td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="columnsToDisplay$ | async; sticky: true"></tr>
		<tr mat-row *matRowDef="let record; columns: columnsToDisplay$ | async"></tr>
	</table>
</div>

<button mat-fab color="primary" class="print-table" matTooltip="Drukuj" ngxPrint printSectionId="print-content" [useExistingCss]="true">
	<mat-icon>print</mat-icon>
</button>
